.all {
    width : 85%;
    margin: auto;
}

table {
    border          : solid 1px rgba(0, 169, 189, 0.5);
    width           : 100%;
    border-radius   : 5px;
    padding         : 2px;
    background-color: rgba(0, 169, 189, 0.1);
}

table th {
    color           : white;
    background-color: rgba(0, 190, 210, 0.7);
    font-size       : 12px;
    padding         : 18px 12px;
    width           : 200px;
    text-align      : left;
    border          : solid 1px rgba(0, 169, 189, 0.5);
    border-radius   : 4px;
}

table td {
    font-size       : 10px;
    font-size       : 12px;
    padding         : 10px 12px;
    width           : 200px;
    text-align      : left;
    border          : solid 1px rgba(0, 169, 189, 0.25);
    border-radius   : 4px;
    background-color: white;
}

.createBtn,
.createBtn:hover,
.createBtn:focus {
    cursor          : pointer;
    color           : white;
    display         : flex;
    background-color: rgba(0, 169, 189, 0.6);
    padding         : 10px 30px;
    margin          : 15px 0;
    border          : none;
    border-radius   : 5px;
    font-weight     : 500;
    margin-left     : auto;
    transition      : 150ms;
}

.createBtn:hover {
    background-color: rgba(0, 190, 210, 0.9);
}

.createBtn:focus {
    background-color: rgba(0, 169, 189, 0.7);
}

.action {
    display: inline-block;
    margin : 0 5px;
}

.actionsCell {
    max-width: 100px;
}



th.actionsHeading {
    max-width: 130px;
}


.actionsCell a,
.actionsCell a:hover {
    cursor          : pointer;
    text-align      : center;
    width           : 15%;
    min-width       : 28px;
    text-decoration : none;
    background-color: rgba(0, 169, 189, 0);
    border-radius   : 3px;
    color           : rgb(0, 169, 189);
    padding         : 3px 6px;
    margin          : 2px;
    transition      : 300ms;
}

.actionsCell a:hover {
    color           : white;
    background-color: rgba(0, 190, 210, 0.9);
}

.actionsCell button,
.actionsCell button:hover {
    cursor          : pointer;
    color           : red;
    box-sizing      : border-box;
    text-align      : center;
    min-width       : 56px;
    background-color: rgba(252, 97, 97, 0);
    border          : none;
    border-radius   : 3px;
    padding         : 3px 6px;
    margin          : 2px;
    transition      : 300ms;
}

.actionsCell button:hover {
    color           : white;
    background-color: red;
    box-shadow      : red 0px 0px 4px 1px;
}