<div class="all">
    <table *ngIf="columns?.length">
        <tr>
            <ng-container *ngFor="let data of columns">
                <th> {{data.heading}}</th>
            </ng-container>
            <th class="actionsHeading">Actions</th>
        </tr>
        <tr *ngFor="let user of usersList">
            <ng-container *ngFor="let data of columns">
                <td>{{user[data.propName]}}</td>
            </ng-container>
            <td class="actionsCell">
                <a class="action" [routerLink]="['view', user.id]">View </a>
                <a class="action" [routerLink]="['edit', user.id]">Edit </a>
                <button class="action" (click)="onDeleteUserById(user.id)">Delete</button>
            </td>
        </tr>
    </table>
    <p *ngIf="!columns?.length" class="emptyTableAlert">Oops, We don't have any data to show you (`_`)</p>
    
<app-select-page (clickedAnyButton)="initCurrentPage($event)"></app-select-page>
</div>