<div class="all">
    <table *ngIf="columns?.length; else emptyTable">
        <tr>
            <ng-container *ngFor="let column of columns">
                <th> {{column.heading}}</th>
            </ng-container>
            <th class="actionsHeading">Actions</th>
        </tr>
        <tr *ngFor="let user of usersList">
            <ng-container *ngFor="let column of columns">
                <td>{{user[column.propName]}}</td>
            </ng-container>
            <td class="actionsCell">
                <a title="View" class="action fa fa-eye" [routerLink]="['view', user.id]"> </a>
                <a title="edit" class="action fa fa-edit" [routerLink]="['edit', user.id]"> </a>
                <button title="delete" class="fa fa-trash" (click)="onDeleteUserById(user.id)"></button>
            </td>
        </tr>
        
    </table>
    <ng-template #emptyTable>
        <p class="emptyTableAlert">Oops, We don't have any data to show you (`_`)</p>
    </ng-template>
    <app-paginator (pageChange)="onPageChange($event)" [currentListLength]="usersList.length"></app-paginator>
</div>